EXPO_PUBLIC_API_URL=https://meetfair.onrender.com/api
EXPO_PUBLIC_SOCKET_URL=https://meetfair.onrender.com
EXPO_PUBLIC_NAVER_MAP_NCP_KEY_ID=
# 로컬 개발: http://192.168.0.10:4000/api 및 http://192.168.0.10:4000
